/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f5f8ff;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.primary-color {
    color: #4E47FF;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.btn-primary,
.contact-form input[type="submit"] {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #4E47FF;
    color: #fff;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    transition: .5s;
    text-transform: capitalize;
}

.btn-primary:hover {
    background-color: #0901f6;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

section {
    margin: 116px 0;
}

.main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header Area */
.header {
    background-image: url(../media/Hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Navigation Area */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}

.logo {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;

}

/* Hero Section */
.hero-area {
    margin-top: 160px;
    text-align: center;
    padding-bottom: 150px;
}

.hero-title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 40px;
}

/* Preview Section */
.preview-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.preview-description {
    max-width: 520px;
}

.preview-img {
    max-width: 410px;
    border-radius: 50px;
}

.section-description {
    font-size: 24px;
    color: #2524325f;
    line-height: 30px;
    margin: 23px 0;
}

/* User Section */
.user {
    background-color: #e5e7ff;
    padding: 50px 142px;
    text-align: center;
    border-radius: 25px;
}

.user-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #252432;
}

.user-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.number-figure {
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
}

.user-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #0000005f;
}

/* Testimonial Section */
.testimonials .section-title {
    text-align: center;
}

.testimonial-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.testimonial-item {
    max-width: 366px;
    border: 1px solid #F2EDED;
    box-shadow: 0px 10px 10px #f2eded;
    padding: 24px;
    border-radius: 15px;
    background-color: #fff;
}

.testimonial-rate li {
    display: inline-block;
}

.testimonial-content {
    margin: 24px 0;
}

.testimonial-content h4 {
    font-size: 24px;
    font-weight: 600;
    color: #1e1e1e;
    line-height: 120%;
    margin-bottom: 10px;
}

.testimonial-quote {
    display: flex;
    align-items: center;
}

.author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 6px;
}

.author-info {
    font-size: 16px;
}

.author-info h4 {
    color: #757575;
    font-weight: 600;
}

.author-info p {
    color: #b3b3b3;
}

/* Focus Section */
.focus {
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 70px 150px;
}

.focus-content {
    margin-bottom: 20px;
}

.focus-content .section-title {
    font-size: 50px;
}

.focus-content .section-description {
    font-size: 16px;
    margin: 20px 0;
}

.focus-img {
    border-radius: 50px;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-title {
    width: 525px;
    font-size: 64px;
    font-weight: 700;
    color: #000000;
}

.contact-form {
    width: 500px;
}

.contact-form p>label {
    font-size: 18px;
    font-weight: 600;
}

.contact-form input[type="text"],
.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 100%;
}

.contact-form input[type="text"],
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 15px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-form input[type="submit"] {
    width: 100%;
}

/* Footer Area */
.footer {
    text-align: center;
    background-color: #fff;
    padding: 104px 155px;
}

.footer-logo {
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4E47FF;
}

.footer-description {
    color: #8987A1;
    margin-top: 10px;
}

.footer li {
    display: inline-block;
    margin-right: 30px;
}

.footer li:last-child {
    margin: 0;
}

.footer ul li a {
    padding: 20px 10px;
    color: #8987A1;
    transition: 0.5s;
    display: block;
}

.footer ul li a:hover {
    color: #4E47FF;
}